<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/::)</key>
	<string>qf000</string>
	<key>/::~</key>
	<string>qf001</string>
	<key>/::B</key>
	<string>qf002</string>
	<key>/::|</key>
	<string>qf003</string>
	<key>/:8-)</key>
	<string>qf004</string>
	<key>/::&lt;</key>
	<string>qf005</string>
	<key>/::$</key>
	<string>qf006</string>
	<key>/::X</key>
	<string>qf007</string>
	<key>/::Z</key>
	<string>qf008</string>
	<key>/::&apos;(</key>
	<string>qf009</string>
	<key>/::-|</key>
	<string>qf010</string>
	<key>/::@</key>
	<string>qf011</string>
	<key>/::P</key>
	<string>qf012</string>
	<key>/::D</key>
	<string>qf013</string>
	<key>/::O</key>
	<string>qf014</string>
	<key>/::(</key>
	<string>qf015</string>
	<key>/::+</key>
	<string>qf016</string>
	<key>/:--b</key>
	<string>qf017</string>
	<key>/::Q</key>
	<string>qf018</string>
	<key>/::T</key>
	<string>qf019</string>
	<key>/:,@P</key>
	<string>qf020</string>
	<key>/:,@-D</key>
	<string>qf021</string>
	<key>/::d</key>
	<string>qf022</string>
	<key>/:,@o</key>
	<string>qf023</string>
	<key>/::g</key>
	<string>qf024</string>
	<key>/:|-</key>
	<string>qf025</string>
	<key>/::!</key>
	<string>qf026</string>
	<key>/::L</key>
	<string>qf027</string>
	<key>/::&gt;</key>
	<string>qf028</string>
	<key>/::,@</key>
	<string>qf029</string>
	<key>/:,@f</key>
	<string>qf030</string>
	<key>/::-S</key>
	<string>qf031</string>
	<key>/:?</key>
	<string>qf032</string>
	<key>/:,@x</key>
	<string>qf033</string>
	<key>/:,@@</key>
	<string>qf034</string>
	<key>/::8</key>
	<string>qf035</string>
	<key>/:,@!</key>
	<string>qf036</string>
	<key>/:!!!</key>
	<string>qf037</string>
	<key>/:xx</key>
	<string>qf038</string>
	<key>/:bye</key>
	<string>qf039</string>
	<key>/:wipe</key>
	<string>qf040</string>
	<key>/:dig</key>
	<string>qf041</string>
	<key>/:handclap</key>
	<string>qf042</string>
	<key>/:&amp;-(</key>
	<string>qf043</string>
	<key>/:B-)</key>
	<string>qf044</string>
	<key>/:&lt;@</key>
	<string>qf045</string>
	<key>/:@&gt;</key>
	<string>qf046</string>
	<key>/::-O</key>
	<string>qf047</string>
	<key>/:&gt;-|</key>
	<string>qf048</string>
	<key>/:P-(</key>
	<string>qf049</string>
	<key>/::&apos;|</key>
	<string>qf050</string>
	<key>/:X-)</key>
	<string>qf051</string>
	<key>/::*</key>
	<string>qf052</string>
	<key>/:@x</key>
	<string>qf053</string>
	<key>/:8*</key>
	<string>qf054</string>
	<key>/:pd</key>
	<string>qf055</string>
	<key>/:&lt;W&gt;</key>
	<string>qf056</string>
	<key>/:beer</key>
	<string>qf057</string>
	<key>/:basketb</key>
	<string>qf058</string>
	<key>/:oo</key>
	<string>qf059</string>
	<key>/:coffee</key>
	<string>qf060</string>
	<key>/:eat</key>
	<string>qf061</string>
	<key>/:pig</key>
	<string>qf062</string>
	<key>/:rose</key>
	<string>qf063</string>
	<key>/:fade</key>
	<string>qf064</string>
	<key>/:showlove</key>
	<string>qf065</string>
	<key>/:heart</key>
	<string>qf066</string>
	<key>/:break</key>
	<string>qf067</string>
	<key>/:cake</key>
	<string>qf068</string>
	<key>/:li</key>
	<string>qf069</string>
	<key>/:bome</key>
	<string>qf070</string>
	<key>/:kn</key>
	<string>qf071</string>
	<key>/:footb</key>
	<string>qf072</string>
	<key>/:ladybug</key>
	<string>qf073</string>
	<key>/:shit</key>
	<string>qf074</string>
	<key>/:moon</key>
	<string>qf075</string>
	<key>/:sun</key>
	<string>qf076</string>
	<key>/:gift</key>
	<string>qf077</string>
	<key>/:hug</key>
	<string>qf078</string>
	<key>/:strong</key>
	<string>qf079</string>
	<key>/:weak</key>
	<string>qf080</string>
	<key>/:share</key>
	<string>qf081</string>
	<key>/:v</key>
	<string>qf082</string>
	<key>/:@)</key>
	<string>qf083</string>
	<key>/:jj</key>
	<string>qf084</string>
	<key>/:@@</key>
	<string>qf085</string>
	<key>/:bad</key>
	<string>qf086</string>
	<key>/:lvu</key>
	<string>qf087</string>
	<key>/:no</key>
	<string>qf088</string>
	<key>/:ok</key>
	<string>qf089</string>
	<key>/:love</key>
	<string>qf090</string>
	<key>/:&lt;L&gt;</key>
	<string>qf091</string>
	<key>/:jump</key>
	<string>qf092</string>
	<key>/:shake</key>
	<string>qf093</string>
	<key>/:&lt;O&gt;</key>
	<string>qf094</string>
	<key>/:circle</key>
	<string>qf095</string>
	<key>/:kotow</key>
	<string>qf096</string>
	<key>/:turn</key>
	<string>qf097</string>
	<key>/:skip</key>
	<string>qf098</string>
	<key>/:&amp;&gt;</key>
	<string>qf099</string>
</dict>
</plist>
