<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enable</key>
		<true/>
		<key>tag</key>
		<string>HOT_QUESTION</string>
		<key>name</key>
		<string>常见问题</string>
		<key>image</key>
		<string>V5Client.bundle/v5_icon_ques</string>
	</dict>
	<dict>
		<key>enable</key>
		<true/>
		<key>tag</key>
		<string>RELATIVE_QUESTION</string>
		<key>name</key>
		<string>相关问题</string>
		<key>image</key>
		<string>V5Client.bundle/v5_icon_relative_ques</string>
	</dict>
	<dict>
		<key>enable</key>
		<true/>
		<key>tag</key>
		<string>PICTURE</string>
		<key>name</key>
		<string>图片</string>
		<key>image</key>
		<string>V5Client.bundle/v5_icon_photo</string>
	</dict>
	<dict>
		<key>enable</key>
		<true/>
		<key>tag</key>
		<string>CAMERA</string>
		<key>name</key>
		<string>拍照</string>
		<key>image</key>
		<string>V5Client.bundle/v5_icon_camera</string>
	</dict>
	<dict>
		<key>enable</key>
		<true/>
		<key>tag</key>
		<string>TRANSFER_WORKER</string>
		<key>name</key>
		<string>人工客服</string>
		<key>image</key>
		<string>V5Client.bundle/v5_icon_worker</string>
	</dict>
</array>
</plist>
