<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/::)</key>
	<string>qf000</string>
	<key>/::~</key>
	<string>qf001</string>
	<key>/::B</key>
	<string>qf002</string>
	<key>/::|</key>
	<string>qf003</string>
	<key>/:8-)</key>
	<string>qf004</string>
	<key>/::&lt;</key>
	<string>qf005</string>
	<key>/::$</key>
	<string>qf006</string>
	<key>/::X</key>
	<string>qf007</string>
	<key>/::Z</key>
	<string>qf008</string>
	<key>/::&apos;(</key>
	<string>qf009</string>
	<key>/::-|</key>
	<string>qf010</string>
	<key>/::@</key>
	<string>qf011</string>
	<key>/::P</key>
	<string>qf012</string>
	<key>/::D</key>
	<string>qf013</string>
	<key>/::O</key>
	<string>qf014</string>
	<key>/::(</key>
	<string>qf015</string>
	<key>/::+</key>
	<string>qf016</string>
	<key>/:--b</key>
	<string>qf017</string>
	<key>/::Q</key>
	<string>qf018</string>
	<key>/::T</key>
	<string>qf019</string>
	<key>/:,@P</key>
	<string>qf020</string>
	<key>/:,@-D</key>
	<string>qf021</string>
	<key>/::d</key>
	<string>qf022</string>
	<key>/:,@o</key>
	<string>qf023</string>
	<key>/::g</key>
	<string>qf024</string>
	<key>/:|-)</key>
	<string>qf025</string>
	<key>/::!</key>
	<string>qf026</string>
	<key>/::L</key>
	<string>qf027</string>
	<key>/::&gt;</key>
	<string>qf028</string>
	<key>/::,@</key>
	<string>qf029</string>
	<key>/:,@f</key>
	<string>qf030</string>
	<key>/::-S</key>
	<string>qf031</string>
	<key>/:?</key>
	<string>qf032</string>
	<key>/:,@x</key>
	<string>qf033</string>
	<key>/:,@@</key>
	<string>qf034</string>
	<key>/::8</key>
	<string>qf035</string>
	<key>/:,@!</key>
	<string>qf036</string>
	<key>/:!!!</key>
	<string>qf037</string>
	<key>/:xx</key>
	<string>qf038</string>
	<key>/:bye</key>
	<string>qf039</string>
	<key>/:wipe</key>
	<string>qf040</string>
	<key>/:dig</key>
	<string>qf041</string>
	<key>/:handclap</key>
	<string>qf042</string>
	<key>/:&amp;-(</key>
	<string>qf043</string>
	<key>/:B-)</key>
	<string>qf044</string>
	<key>/:&lt;@</key>
	<string>qf045</string>
	<key>/:@&gt;</key>
	<string>qf046</string>
	<key>/::-O</key>
	<string>qf047</string>
	<key>/:&gt;-|</key>
	<string>qf048</string>
	<key>/:P-(</key>
	<string>qf049</string>
	<key>/::&apos;|</key>
	<string>qf050</string>
	<key>/:X-)</key>
	<string>qf051</string>
	<key>/::*</key>
	<string>qf052</string>
	<key>/:@x</key>
	<string>qf053</string>
	<key>/:8*</key>
	<string>qf054</string>
	<key>/:pd</key>
	<string>qf055</string>
	<key>/:&lt;W&gt;</key>
	<string>qf056</string>
	<key>/:beer</key>
	<string>qf057</string>
	<key>/:basketb</key>
	<string>qf058</string>
	<key>/:oo</key>
	<string>qf059</string>
	<key>/:coffee</key>
	<string>qf060</string>
	<key>/:eat</key>
	<string>qf061</string>
	<key>/:pig</key>
	<string>qf062</string>
	<key>/:rose</key>
	<string>qf063</string>
	<key>/:fade</key>
	<string>qf064</string>
	<key>/:showlove</key>
	<string>qf065</string>
	<key>/:heart</key>
	<string>qf066</string>
	<key>/:break</key>
	<string>qf067</string>
	<key>/:cake</key>
	<string>qf068</string>
	<key>/:li</key>
	<string>qf069</string>
	<key>/:bome</key>
	<string>qf070</string>
	<key>/:kn</key>
	<string>qf071</string>
	<key>/:footb</key>
	<string>qf072</string>
	<key>/:ladybug</key>
	<string>qf073</string>
	<key>/:shit</key>
	<string>qf074</string>
	<key>/:moon</key>
	<string>qf075</string>
	<key>/:sun</key>
	<string>qf076</string>
	<key>/:gift</key>
	<string>qf077</string>
	<key>/:hug</key>
	<string>qf078</string>
	<key>/:strong</key>
	<string>qf079</string>
	<key>/:weak</key>
	<string>qf080</string>
	<key>/:share</key>
	<string>qf081</string>
	<key>/:v</key>
	<string>qf082</string>
	<key>/:@)</key>
	<string>qf083</string>
	<key>/:jj</key>
	<string>qf084</string>
	<key>/:@@</key>
	<string>qf085</string>
	<key>/:bad</key>
	<string>qf086</string>
	<key>/:lvu</key>
	<string>qf087</string>
	<key>/:no</key>
	<string>qf088</string>
	<key>/:ok</key>
	<string>qf089</string>
	<key>/:love</key>
	<string>qf090</string>
	<key>/:&lt;L&gt;</key>
	<string>qf091</string>
	<key>/:jump</key>
	<string>qf092</string>
	<key>/:shake</key>
	<string>qf093</string>
	<key>/:&lt;O&gt;</key>
	<string>qf094</string>
	<key>/:circle</key>
	<string>qf095</string>
	<key>/:kotow</key>
	<string>qf096</string>
	<key>/:turn</key>
	<string>qf097</string>
	<key>/:skip</key>
	<string>qf098</string>
	<key>/:oY</key>
	<string>qf099</string>
	<key>/:#-0</key>
	<string>qf100</string>
	<key>/:hiphot</key>
	<string>qf101</string>
	<key>/:kiss</key>
	<string>qf102</string>
	<key>/:&lt;&amp;</key>
	<string>qf103</string>
	<key>/:&amp;&gt;</key>
	<string>qf104</string>
    <key>[微笑]</key>
    <string>qf000</string>
    <key>[撇嘴]</key>
    <string>qf001</string>
    <key>[色]</key>
    <string>qf002</string>
    <key>[发呆]</key>
    <string>qf003</string>
    <key>[得意]</key>
    <string>qf004</string>
    <key>[流泪]</key>
    <string>qf005</string>
    <key>[害羞]</key>
    <string>qf006</string>
    <key>[闭嘴]</key>
    <string>qf007</string>
    <key>[睡]</key>
    <string>qf008</string>
    <key>[大哭]</key>
    <string>qf009</string>
    <key>[尴尬]</key>
    <string>qf010</string>
    <key>[发怒]</key>
    <string>qf011</string>
    <key>[调皮]</key>
    <string>qf012</string>
    <key>[呲牙]</key>
    <string>qf013</string>
    <key>[惊讶]</key>
    <string>qf014</string>
    <key>[难过]</key>
    <string>qf015</string>
    <key>[酷]</key>
    <string>qf016</string>
    <key>[冷汗]</key>
    <string>qf017</string>
    <key>[抓狂]</key>
    <string>qf018</string>
    <key>[吐]</key>
    <string>qf019</string>
    <key>[偷笑]</key>
    <string>qf020</string>
    <key>[愉快]</key>
    <string>qf021</string>
    <key>[白眼]</key>
    <string>qf022</string>
    <key>[傲慢]</key>
    <string>qf023</string>
    <key>[饥饿]</key>
    <string>qf024</string>
    <key>[困]</key>
    <string>qf025</string>
    <key>[惊恐]</key>
    <string>qf026</string>
    <key>[流汗]</key>
    <string>qf027</string>
    <key>[憨笑]</key>
    <string>qf028</string>
    <key>[悠闲]</key>
    <string>qf029</string>
    <key>[奋斗]</key>
    <string>qf030</string>
    <key>[咒骂]</key>
    <string>qf031</string>
    <key>[疑问]</key>
    <string>qf032</string>
    <key>[嘘]</key>
    <string>qf033</string>
    <key>[晕]</key>
    <string>qf034</string>
    <key>[疯了]</key>
    <string>qf035</string>
    <key>[衰]</key>
    <string>qf036</string>
    <key>[骷髅]</key>
    <string>qf037</string>
    <key>[敲打]</key>
    <string>qf038</string>
    <key>[再见]</key>
    <string>qf039</string>
    <key>[擦汗]</key>
    <string>qf040</string>
    <key>[抠鼻]</key>
    <string>qf041</string>
    <key>[鼓掌]</key>
    <string>qf042</string>
    <key>[糗大了]</key>
    <string>qf043</string>
    <key>[坏笑]</key>
    <string>qf044</string>
    <key>[左哼哼]</key>
    <string>qf045</string>
    <key>[右哼哼]</key>
    <string>qf046</string>
    <key>[哈欠]</key>
    <string>qf047</string>
    <key>[鄙视]</key>
    <string>qf048</string>
    <key>[委屈]</key>
    <string>qf049</string>
    <key>[快哭了]</key>
    <string>qf050</string>
    <key>[阴险]</key>
    <string>qf051</string>
    <key>[亲亲]</key>
    <string>qf052</string>
    <key>[吓]</key>
    <string>qf053</string>
    <key>[可怜]</key>
    <string>qf054</string>
    <key>[菜刀]</key>
    <string>qf055</string>
    <key>[西瓜]</key>
    <string>qf056</string>
    <key>[啤酒]</key>
    <string>qf057</string>
    <key>[篮球]</key>
    <string>qf058</string>
    <key>[乒乓]</key>
    <string>qf059</string>
    <key>[咖啡]</key>
    <string>qf060</string>
    <key>[饭]</key>
    <string>qf061</string>
    <key>[猪头]</key>
    <string>qf062</string>
    <key>[玫瑰]</key>
    <string>qf063</string>
    <key>[凋谢]</key>
    <string>qf064</string>
    <key>[嘴唇]</key>
    <string>qf065</string>
    <key>[爱心]</key>
    <string>qf066</string>
    <key>[心碎]</key>
    <string>qf067</string>
    <key>[蛋糕]</key>
    <string>qf068</string>
    <key>[闪电]</key>
    <string>qf069</string>
    <key>[炸弹]</key>
    <string>qf070</string>
    <key>[刀]</key>
    <string>qf071</string>
    <key>[足球]</key>
    <string>qf072</string>
    <key>[瓢虫]</key>
    <string>qf073</string>
    <key>[便便]</key>
    <string>qf074</string>
    <key>[月亮]</key>
    <string>qf075</string>
    <key>[太阳]</key>
    <string>qf076</string>
    <key>[礼物]</key>
    <string>qf077</string>
    <key>[拥抱]</key>
    <string>qf078</string>
    <key>[强]</key>
    <string>qf079</string>
    <key>[弱]</key>
    <string>qf080</string>
    <key>[握手]</key>
    <string>qf081</string>
    <key>[胜利]</key>
    <string>qf082</string>
    <key>[抱拳]</key>
    <string>qf083</string>
    <key>[勾引]</key>
    <string>qf084</string>
    <key>[拳头]</key>
    <string>qf085</string>
    <key>[差劲]</key>
    <string>qf086</string>
    <key>[爱你]</key>
    <string>qf087</string>
    <key>[NO]</key>
    <string>qf088</string>
    <key>[OK]</key>
    <string>qf089</string>
    <key>[爱情]</key>
    <string>qf090</string>
    <key>[飞吻]</key>
    <string>qf091</string>
    <key>[跳跳]</key>
    <string>qf092</string>
    <key>[发抖]</key>
    <string>qf093</string>
    <key>[怄火]</key>
    <string>qf094</string>
    <key>[转圈]</key>
    <string>qf095</string>
    <key>[磕头]</key>
    <string>qf096</string>
    <key>[回头]</key>
    <string>qf097</string>
    <key>[跳绳]</key>
    <string>qf098</string>
    <key>[投降]</key>
    <string>qf099</string>
    <key>[激动]</key>
    <string>qf100</string>
    <key>[乱舞]</key>
    <string>qf101</string>
    <key>[献吻]</key>
    <string>qf102</string>
    <key>[左太极]</key>
    <string>qf103</string>
    <key>[右太极]</key>
    <string>qf104</string>
</dict>
</plist>
